@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes moveBall {
	0% {
	  left: 0;
	}
	50% {
	  left: 98%;
	}
	100% {
	  left: 0;
	}
  }

.animate-ball {
	animation: moveBall 2s linear infinite;
}

@property --gradient-angle{
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

@keyframes rotationColor {
	0% {--gradient-angle: 0deg;}
	100% {--gradient-angle: 360deg}
}


:root{
	--premary: #250A3B;
	--secondary: #FFE72D;
	--backgroud: #4F1754;
	--inactive: #FFFFFF;
}

.animate-bordshadow {
	content: '';
	position: absolute;
	/* inset: 0; */
	z-index: 0;
	background: conic-gradient(
		from var(--gradient-angle),
		/* var(--inactive), */
		var(--backgroud) ,
		var(--inactive),
		var(--secondary)
		);
	filter: blur(3rem);
	/* border-radius: inherit; */
	animation: rotationColor 7s linear infinite;
}

.animate-border {
	content: '';
	/* inset: 0; */
	z-index: 0;
	background: linear-gradient(
		var(--gradient-angle),
		/* var(--inactive), */
		var(--premary),
		var(--backgroud),
		var(--premary)
		);
	/* filter: blur(3rem); */
	border-radius: inherit;
	border-radius: 10px;
	animation: rotationColor 7s linear infinite;
}
