@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveBall {
    0% {
        left: 2%;
    }
    50% {
        left: 97%;
    }
    100% {
        left: 5%;
    }
}

.animate-ball {
    animation: moveBall 4s linear infinite;
}

@property --gradient-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotationColor {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}

:root {
    --premary: #250a3b;
    --secondary: #ffe72d;
    --backgroud: #4f1754;
    --inactive: #ffffff;
}

.animate-bordshadow {
    content: '';
    position: absolute;
    /* inset: 0; */
    z-index: 0;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--backgroud),
        var(--inactive),
        var(--secondary)
    );
    filter: blur(3rem);
    animation: rotationColor 7s linear infinite;
}

.animate-border {
    content: '';
    z-index: 0;
    background: linear-gradient(
        var(--gradient-angle),
        var(--premary),
        var(--backgroud),
        var(--premary)
    );
    border-radius: inherit;
    border-radius: 10px;
    animation: rotationColor 7s linear infinite;
}

/* // ----- general ----- */

/* // ----- keyframes ------ */

@keyframes ball {
    0% {
        top: 34%;
        left: 52%;
    }
    8.3% {
        top: 52%;
        left: 90%;
    }
    24.9% {
        top: 85%;
        left: 8%;
    }
    30% {
        top: 98%;
        left: 27%;
    }
    41.5% {
        top: 70%;
        left: 90%;
    }
    58.1% {
        top: 55%;
        left: 8%;
    }
    74.7% {
        top: 13%;
        left: 90%;
    }
    79% {
        top: 1%;
        left: 70%;
    }
    91.3% {
        top: 22%;
        left: 8%;
    }
    100% {
        top: 34%;
        left: 52%;
    }
}

@keyframes ping {
    0% {
        top: 10%;
    }
    5% {
        top: 10%;
    }
    9% {
        top: 24%;
    }
    13% {
        top: 17%;
    }
    24.9% {
        top: 82%;
    }
    47% {
        top: 37%;
    }
    52% {
        top: 41%;
    }
    56% {
        top: 64%;
    }
    58.1% {
        top: 44%;
    }
    70% {
        top: 55%;
    }
    84% {
        top: 12%;
    }
    91.3% {
        top: 18%;
    }
    100% {
        top: 10%;
    }
}

@keyframes pong {
    0% {
        top: 80%;
    }
    8.3% {
        top: 51%;
    }
    20% {
        top: 60%;
    }
    25% {
        top: 34%;
    }
    41.5% {
        top: 68%;
    }
    46% {
        top: 36%;
    }
    52% {
        top: 18%;
    }
    58.1% {
        top: 53%;
    }
    66% {
        top: 14%;
    }
    70% {
        top: 20%;
    }
    74.7% {
        top: 10%;
    }
    91.3% {
        top: 10%;
    }
    100% {
        top: 80%;
    }
}

.animate-loading-ball {
    animation: ball 6s linear infinite;
}

.animate-loading-ping {
    position: absolute;
    animation: ping 6s linear infinite;
}

.animate-loading-pong {
    position: absolute;
    animation: pong 6s linear infinite;
}

@keyframes dragR {
    0% {
        translate: 90%;
    }
    100% {
        translate: 0;
    }
}

@keyframes dragL {
    0% {
        translate: -90%;
    }
    100% {
        translate: 0;
    }
}
.animate-dragR {
    animation: dragR 5s alternate;
    /* transition: justify-self 0.3s ease-in-out; */
}

.animate-dragL {
    animation: dragL 5s alternate;
    /* transition: justify-self 0.3s ease-in-out; */
}

.gradiant-square {
    width: 100%;
    height: 100%;
    background:
        linear-gradient(
                to right,
                #250a3b 0%,
                #4f1754 14.81%,
                #250a3b 27.72%,
                #4f1754 50.23%,
                #250a3b 67.56%,
                #4f1754 81.76%,
                #250a3b 100%
            )
            right,
        linear-gradient(
                to left,
                #250a3b 0%,
                #4f1754 14.81%,
                #250a3b 27.72%,
                #4f1754 50.23%,
                #250a3b 67.56%,
                #4f1754 81.76%,
                #250a3b 100%
            )
            left;

    background-size: 50% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.gradiant-square:before {
    content: '';
    position: absolute;
    background:
        linear-gradient(
                to bottom,
                #250a3b 0%,
                #4f1754 14.81%,
                #250a3b 27.72%,
                #4f1754 50.23%,
                #250a3b 67.56%,
                #4f1754 81.76%,
                #250a3b 100%
            )
            bottom,
        linear-gradient(
                to top,
                #250a3b 0%,
                #4f1754 14.81%,
                #250a3b 27.72%,
                #4f1754 50.23%,
                #250a3b 67.56%,
                #4f1754 81.76%,
                #250a3b 100%
            )
            top;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-clip-path: polygon(
        0% 0%,
        50% 50%,
        0% 100%,
        100% 100%,
        50% 50%,
        50% 50%,
        100% 0%
    );
    clip-path: polygon(
        0% 0%,
        50% 50%,
        0% 100%,
        100% 100%,
        50% 50%,
        50% 50%,
        100% 0%
    );
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fade-in {
    animation-name: fade-in;
    animation-fill-mode: forwards;
}

.StandingBgWon {
    width: 100%;
    height: 100%;
    background: linear-gradient(
            180deg,
            rgba(79, 23, 84, 0) 0%,
            #4f1754 70.98%,
            #250a3b 99.94%
        ),
        linear-gradient(
            90deg,
            #03ce18 0%,
            #159947 0%,
            #06373a 26.02%,
            #061a23 39.15%,
            #061a23 50.21%,
            #061a23 57.72%,
            #06373a 71.35%,
            #159947 100%
        );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.StandingBgLost {
    background: linear-gradient(
            180deg,
            rgba(79, 23, 84, 0) 0%,
            #4f1754 70.98%,
            #250a3b 99.94%
        ),
        linear-gradient(
            90deg,
            #f51f3b 0%,
            #4f1754 26.55%,
            #250a3b 50.21%,
            #4f1754 72.88%,
            #f51f3b 100%
        );
}

.StandingShadowWon {
    width: 121px;
    height: 27px;
    flex-shrink: 0;
    fill: radial-gradient(
        49.06% 50% at 50% 50%,
        rgba(255, 231, 45, 0.19) 0.52%,
        rgba(255, 231, 45, 0) 100%
    );
}
